<div class="container">
<div class="columns has-text-centered">
  <div class="column is-4">
    sss</div>
      <div class="column is-4">
        ddd</div>
          <div class="column is-4">
            sss</div>
          </div>
          
            <br>

            <div class="columns has-text-centered">
                <div class="column is-4">
                  sss</div>
                    <div class="column is-4">
                      ddd</div>
                        <div class="column is-4">
                          sss</div>
                        </div>

            
              
</div>